.env

# notebooks
.ipynb_checkpoints

# training
CH02/lightning_logs

# images
.png
CH01/figures/*.png
CH02/figures/*.png
CH03/figures/*.png
CH04/figures/*.png
CH05/figures/*.png

# data
data/m3

# models
CH02/model
CH04/lag-llama